
<div class="breadcrumbs mt-15">
    <div class="text-center">
        <h2 class="breadcrumbs-title">Pressure Vessel & Reaction Vessel</h2>
    </div>
</div>

<!-- START FEATURES -->
<section class="feature_area section-padding">
    <div class="container">
        <div class="row">										
            <div class="col-lg-6 col-sm-12 col-xs-12 wow fadeIn pt-2 mt-1" data-wow-duration="1s" data-wow-delay="0.3s" data-wow-offset="0">
                <div class="feature_img">
                    <img src="../assets/img/sarjan_pictures/TITALE_image/PRESSURE VESSEL 01.JPG" width="90%" class="img-fluid"/>
                </div>	
            </div><!-- END COL -->							
            <div class="col-lg-6 col-sm-12 col-xs-12 wow fadeInLeft mt-3" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0">
                <div class="single_feature">
                    <p class="">
                        We involve in providing a qualitative range of Pressure Vessels and Reaction Vessels that are used in various industries.<br><br>
                        These are utilized for processing of liquids, gases or vapour at different levels of Temperatures & pressures in varied Industries.<br><br> 
                        As per Design Data & Detail Engineering Drawing, we manufacture by Carbon Steel, Alloy Steel & Stainless-Steel material.
                    </p><br>
                    <span><b>MATERIAL :</b> Carbon Steel, Alloy Steel & Stainless Steel etc.</span><br>
                    <span><b>SIZE :</b> Max. Weight 10 Tons.</span><br>
                    <span><b>SERVICE OFFERED :</b> Engineering Solution, Design calculation, Detail Engineering, Raw material Procurement, Fabrication work, Testing Performed as per QAP, Documentation</span>
                </div>	
            </div><!-- END COL -->				
        </div><!-- END ROW -->
    </div><!-- END CONTAINER -->
</section>
<!-- END FEATURES -->

<section class="testimonial-area section-padding" style="background:transparent">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <div id="work-slider" class="owl-carousel">
                    <div class="single_portfolio">
                        <div class="box">
                            <img src="../assets/img/sarjan_pictures/05_Pressure_Vessel/SSE PRESSURE VESSEL STORAGE TANK 01.jpg" alt="">
                            <div class="box-content">
                                <div class="content">
                                    <ul class="work_icon">
                                        <li><a href="../assets/img/sarjan_pictures/05_Pressure_Vessel/SSE PRESSURE VESSEL STORAGE TANK 01.jpg" class="port-icon lightbox" data-gall="gall-work"><span class="ti-plus"></span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single_portfolio">
                        <div class="box">
                            <img src="../assets/img/sarjan_pictures/05_Pressure_Vessel/SSE PRESSURE VESSEL STORAGE TANK 02.jpg" alt="">
                            <div class="box-content">
                                <div class="content">
                                    <ul class="work_icon">
                                        <li><a href="../assets/img/sarjan_pictures/05_Pressure_Vessel/SSE PRESSURE VESSEL STORAGE TANK 02.jpg" class="port-icon lightbox" data-gall="gall-work"><span class="ti-plus"></span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single_portfolio">
                        <div class="box">
                            <img src="../assets/img/sarjan_pictures/05_Pressure_Vessel/SSE PRESSURE VESSEL STORAGE TANK 03.jpg" alt="">
                            <div class="box-content">
                                <div class="content">
                                    <ul class="work_icon">
                                        <li><a href="../assets/img/sarjan_pictures/05_Pressure_Vessel/SSE PRESSURE VESSEL STORAGE TANK 03.jpg" class="port-icon lightbox" data-gall="gall-work"><span class="ti-plus"></span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- END ROW -->
    </div><!-- END CONTAINER -->
</section>
<!-- END PORTFOLIOS -->

<script>
$(function(){
    $(".nav-item").removeClass("active");
    $(".nav-item").removeClass("active-footer");
    $("a.nav-link").css({'color':'#666 !important'});
    $("a.nav-link").addClass('nav2');
    $(".preloader").hide();
});

$(document).on('ready',function(){
    $(".nav-pressure_vessel").addClass("active");
    var owl = $(".owl-carousel");
    $(".owl-item").attr("style","width: 165px !important");
    owl.trigger('owl.play',3000); 
    $(".lightbox").on("click",function(){
        $(".vbox-close").css({"margin-top":"80px"});
    });
});
</script>