<!-- START FOOTER -->
<div class="footer">
    <div class="container">		
        <div class="row">
            <div class="col-lg-4 col-sm-6 col-xs-12">
                <div class="single_footer single_footer_address">
                    <h4>About Us</h4>
                    <div class="single_footer">
                        <p>We Feel Pleasure to introduce ourselves in the world of Engineering in the firm of <b>‘Shree Sarjan Engineering (SSE)’.</b><br><br>
                            SSE, a green field venture start in the year 2011 in the state of Gujarat, India is a Partnership base company. An ISO 9001:2015 and NTPC Certified Company.
                        </p>
                    </div>
                </div>
            </div><!--- END COL -->
            <div class="col-lg-4 col-sm-6 col-xs-12">
                <div class="single_footer">
                    <h4>Products</h4>
                    <ul type="circle">
                        <li><a href="../piping_spool/" class="nav-item nav-piping_spool">Piping Spool, Jacket Piping Spool</a></li>
                        <li><a href="../pressure_vessel/" class="nav-item nav-pressure_vessel">Pressure Vessel, Reaction Vessel</a></li>
                        <li><a href="../piping_skid/" class="nav-item nav-piping_skid">Piping Skid</a></li>
                        <li><a href="../piping_header/" class="nav-item nav-piping_header">Piping Header</a></li>
                        <li><a href="../storage_tank/" class="nav-item nav-storage_tank">Storage Tank</a></li>
                        <li><a href="../pressur_filter/" class="nav-item nav-pressur_filter">Pressure Filter</a></li>
                        <li><a href="../heat_exchanger/" class="nav-item nav-heat_exchanger">Heat Exchanger</a></li>
                        <li><a href="../conveyor_belt/" class="nav-item nav-conveyor_belt">Conveyor Belt Assembly</a></li>
                        <li><a href="../structure/" class="nav-item nav-structure">Light & Heavy Structure Works & Other</a></li>
                    </ul>
                </div>
            </div><!--- END COL -->
            <div class="col-lg-4 col-sm-6 col-xs-12">
                <div class="single_footer single_footer_address">
                    <h4>Our Address</h4>
                    <p>723/4 , B/h Guru Krupa Farm, Savli-Manjusar road, Manjusar Vadodara-391775 (Gujarat – India)</p>
                    <p style="margin-bottom: 0px;">02667 – 264222</p>
                    <small style="margin-top: 0px;padding-top: 0px;margin-bottom: 3px;">(Mon-Sat, 9am until 5:30pm)</small>
                    <p style="margin-top:10px;margin-bottom: 0px;">info@sarjan-india.com</p>
                    <small>(We reply within 24 hours)</small>
                    <div class="social_profile mt-4">
                        <ul>
                            <li class="mt-2"><a href="tel:+918128282200" title="Call us"><i class="fa fa-phone"></i></a></li>

                        <li class="mt-2"><a href="sms:+918128282200" title="SMS us"><i class="fa fa-comment"></i></a></li>
                        
                        <li class="mt-2"><a href="https://wa.me/918128282200" target="_blank" title="Whatsapp us"><i class="fa fa-whatsapp"></i></a></li>
                        
                        <li class="mt-2"><a href="mailto:info@sarjan-india.com" target="_blank" title="Mail us"><i class="fa fa-envelope"></i></a></li>
                        
                        <li class="mt-2"><a target="_blank" href="https://sites.google.com/sarjan-india.com/vcard-alpesh/v-card-alpesh" title="V-Card" class="fa fa-address-card"></i></a></li>
                        
                        <li class="mt-2"><a href="http://www.facebook.com/ShreeSarjanEngineering" target="_blank" title="Find us on Facebook"><i class="fa fa-facebook"></i></a></li>
                        
                        <li class="mt-2"><a target="_blank" href="http://www.twitter.com/sarjanengg" title="Find us on Twitter"><i class="fa fa-twitter"></i></a></li>
                        
                        <li class="mt-2"><a target="_blank" href="https://www.linkedin.com/company/shree-sarjan-engineering?trk=mini-profile" title="Find us on Linkedin" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                        
                        <li class="mt-2"><a target="_blank" href="https://www.instagram.com/shree_sarjan_engineering/" title="Find us on Instagram" target="_blank"><i class="fa fa-instagram"></i></a></li>
                        
                        <li class="mt-2"><a target="_blank" href="https://goo.gl/maps/Em5QthJr7DP4NyL78" title="View Our Location"><i class="fa fa-map-marker"></i></a></li>
                        
                        <li class="mt-2"><a target="_blank" class="slide_show" title="View Slide Show" href="https://docs.google.com/presentation/d/e/2PACX-1vTKh0NqedrbPWQUH0R-ShjBAYPYTyfLppwWaOh6tx74s5jnTcIQ3Iqkg_80PZSCdR8aGQ776bZ3Ok_z/pub?start=false&loop=false&delayms=3000"><i class="fa fa-eye"></i></a>
                        </li>
                        
                        <li class="mt-2"><a target="_blank" href="https://www.youtube.com/watch?v=KCUE-iq_Bag" title="Watch the video"><i class="fa fa-youtube"></i></a></li>
                        
                        <li class="mt-2"><a href="../assets/img/sarjan_pictures/us/catalog.pdf" class="slide_show" download title="Download Catalog"><i class="fa fa-arrow-circle-down"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div><!--- END COL -->
        </div><!--- END ROW -->	
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <p class="copyright">© Copyright 2020 – Shree Sarjan Engineering – Developed By <a>iTechNotion</a></p>
            </div><!--- END COL -->					
        </div><!--- END ROW -->					
    </div><!--- END CONTAINER -->
</div>
<!-- END FOOTER -->	
 
<!-- Latest jQuery -->
    <script src="../assets/js/jquery-1.12.4.min.js"></script>
<!-- Latest compiled and minified Bootstrap -->
    <script src="../assets/bootstrap/js/bootstrap.js"></script>
    <script src="../assets/js/popper.min.js"></script>
<!-- modernizer JS -->		
    <script src="../assets/js/modernizr-2.8.3.min.js"></script>																		
<!-- ripples JS -->				
    <script src="../assets/js/ripples-min.js"></script>			
<!-- jquery nav JS -->		
    <script src="../assets/js/jquery.nav.js"></script>
<!-- jquery smooth-scroll JS -->
    <script src="../assets/js/smooth-scroll.js"></script>		
<!-- owl-carousel min js  -->
    <script src="../assets/owlcarousel/js/owl.carousel.min.js"></script>							
<!-- scrolltopcontrol js -->
    <script src="../assets/js/scrolltopcontrol.js"></script>						
<!-- MAGNIFICANT JS -->
    <script src="../assets/js/jquery.magnific-popup.min.js"></script>		
<!-- Venobox JS -->	
    <script src="../assets/js/venobox.min.js"></script>															
<!-- stellar js -->
    <script src="../assets/js/jquery.stellar.min.js"></script>	
<!-- WOW - Reveal Animations When You Scroll -->
    <script src="../assets/js/wow.min.js"></script>			
<!-- form-contact js -->
    <script src="../assets/js/form-contact.js"></script>								
<!-- scripts js -->
    <script src="../assets/js/scripts.js"></script>
    <script>
        // $(".owl-item").attr("style","width: 200px!important");
    </script>
</body>
</html>