<!-- START FOOTER -->
<div class="footer">
    <div class="container">		
        <div class="row">
            <div class="col-lg-12 col-sm-6 col-xs-12">
                <div class="social_profile">
                    <ul>
                        <li class="mt-2"><a href="tel:+918128282200" title="Call us"><i class="fa fa-phone"></i></a></li>

                        <li class="mt-2"><a href="sms:+918128282200" title="SMS us"><i class="fa fa-comment"></i></a></li>
                        
                        <li class="mt-2"><a href="https://wa.me/918128282200" target="_blank" title="Whatsapp us"><i class="fa fa-whatsapp"></i></a></li>
                        
                        <li class="mt-2"><a href="mailto:info@sarjan-india.com" target="_blank" title="Mail us"><i class="fa fa-envelope"></i></a></li>
                        
                        <li class="mt-2"><a target="_blank" href="https://sites.google.com/sarjan-india.com/vcard-alpesh/v-card-alpesh" title="V-Card" class="fa fa-address-card"></i></a></li>
                        
                        <li class="mt-2"><a href="http://www.facebook.com/ShreeSarjanEngineering" target="_blank" title="Find us on Facebook"><i class="fa fa-facebook"></i></a></li>
                        
                        <li class="mt-2"><a target="_blank" href="http://www.twitter.com/sarjanengg" title="Find us on Twitter"><i class="fa fa-twitter"></i></a></li>
                        
                        <li class="mt-2"><a target="_blank" href="https://www.linkedin.com/company/shree-sarjan-engineering?trk=mini-profile" title="Find us on Linkedin" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                        
                        <li class="mt-2"><a target="_blank" href="https://www.instagram.com/shree_sarjan_engineering/" title="Find us on Instagram" target="_blank"><i class="fa fa-instagram"></i></a></li>
                        
                        <li class="mt-2"><a target="_blank" href="https://goo.gl/maps/Em5QthJr7DP4NyL78" title="View Our Location"><i class="fa fa-map-marker"></i></a></li>
                        
                        <li class="mt-2"><a target="_blank" class="slide_show" title="View Slide Show" href="https://docs.google.com/presentation/d/e/2PACX-1vTKh0NqedrbPWQUH0R-ShjBAYPYTyfLppwWaOh6tx74s5jnTcIQ3Iqkg_80PZSCdR8aGQ776bZ3Ok_z/pub?start=false&loop=false&delayms=3000"><i class="fa fa-eye"></i></a>
                        </li>
                        
                        <li class="mt-2"><a target="_blank" href="https://www.youtube.com/watch?v=KCUE-iq_Bag" title="Watch the video"><i class="fa fa-youtube"></i></a></li>
                        
                        <li class="mt-2"><a href="../assets/img/sarjan_pictures/us/catalog.pdf" class="slide_show" download title="Download Catalog"><i class="fa fa-arrow-circle-down"></i></a></li>
                    </ul>
                </div>
            </div><!--- END COL -->
        </div><!--- END ROW -->			
    </div><!--- END CONTAINER -->
</div>
<!-- END FOOTER -->	
 
<!-- Latest jQuery -->
    <script src="assets/js/jquery-1.12.4.min.js"></script>
<!-- Latest compiled and minified Bootstrap -->
    <script src="assets/bootstrap/js/bootstrap.js"></script>
    <script src="assets/js/popper.min.js"></script>
<!-- modernizer JS -->		
    <script src="assets/js/modernizr-2.8.3.min.js"></script>																		
<!-- ripples JS -->				
    <script src="assets/js/ripples-min.js"></script>			
<!-- jquery nav JS -->		
    <script src="assets/js/jquery.nav.js"></script>
<!-- jquery smooth-scroll JS -->
    <script src="assets/js/smooth-scroll.js"></script>		
<!-- owl-carousel min js  -->
    <script src="assets/owlcarousel/js/owl.carousel.min.js"></script>							
<!-- scrolltopcontrol js -->
    <script src="assets/js/scrolltopcontrol.js"></script>						
<!-- MAGNIFICANT JS -->
    <script src="assets/js/jquery.magnific-popup.min.js"></script>		
<!-- Venobox JS -->	
    <script src="assets/js/venobox.min.js"></script>															
<!-- stellar js -->
    <script src="assets/js/jquery.stellar.min.js"></script>	
<!-- WOW - Reveal Animations When You Scroll -->
    <script src="assets/js/wow.min.js"></script>			
<!-- form-contact js -->
    <script src="assets/js/form-contact.js"></script>								
<!-- scripts js -->
    <script src="assets/js/scripts.js"></script>
</body>
</html>