<!-- START HOME -->
<section class="home_bg" style="background-image: url(assets/img/slider/HOME_PAGE.jpg);  background-size:cover; background-position: center center;">		
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-sm-12 col-xs-12">
                <div class="hero-text">
                     <h3 style="color:black; line-height: 1.9;font-weight: 400;">“ Projects we have completed demonstrate what we know – future projects decide what we will learn. ”</h3>
                 </div> 
            </div><!-- END COL-->
            <div class="col-lg-5 col-sm-12 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="0">
                <img src="assets/img/slider/lock_on_slide.jpg" style="z-index: 103; margin-top:50%;margin-bottom: 50%;margin-left: 20%; width: 320px; height: 230px; transform-origin: 50% 50% 0px; opacity: 1;"/>
            </div><!-- END COL-->
        </div><!-- END ROW-->
    </div><!--- END CONTAINER -->			
</section>
<!-- END  HOME -->


    <section class="container-fluid" style="background:rgba(240, 240, 240, 0.952); padding: 40px 0;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h5 style="line-height: 1.5;" class="text-center">“ Excellence is our way of life. It is not an attribute or end result, it is the attitude with which all our business processes are created and sustained. ”</h5>
                </div>
            </div>
            
        </div>
    </section>

    <!-- START PORTFOLIOS -->
        <section id="portfolio" class="works_area mt-5 pt-4">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-12 mt-0 pr-5">								
                        <div class="">
                            <h2 class="">About Us</h2>
                            <p class="mt-4">We Feel Pleasure to introduce ourselves in the world of Engineering in the firm of <b>‘Shree Sarjan Engineering (SSE)’.</b></p><br>
                            <p>SSE, a green field venture start in the year 2011 in the state of Gujarat, India is a Partnership base company. An ISO 9001:2015 and NTPC Certified Company.</p>
                        </div>						
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div id="work-slider" class="owl-carousel owl-carousel2 mt-5" style="background:#f0f0f0;padding:30px;border-radius: 1%;margin: 0 auto;">
                            <div class="single_portfolio">
                                <div class="box">
                                    <img src="assets/img/sarjan_pictures/TITALE_image/PIPING SPOOL 01.jpg" alt="">
                                    <div class="box-content">
                                        <div class="content">
                                            <ul class="work_icon">
                                                <li><a href="assets/img/sarjan_pictures/TITALE_image/PIPING SPOOL 01.jpg" class="port-icon lightbox" data-gall="gall-work"><span class="ti-plus"></span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single_portfolio">
                                <div class="box">
                                    <img src="assets/img/sarjan_pictures/TITALE_image/JACKET PIPING SPOOL 01.jpg" alt="">
                                    <div class="box-content">
                                        <div class="content">
                                            <ul class="work_icon">
                                                <li><a href="assets/img/sarjan_pictures/TITALE_image/JACKET PIPING SPOOL 01.jpg" class="port-icon lightbox" data-gall="gall-work"><span class="ti-plus"></span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single_portfolio">
                                <div class="box">
                                    <img src="assets/img/sarjan_pictures/TITALE_image/PRESSURE VESSEL 01.JPG" alt="">
                                    <div class="box-content">
                                        <div class="content">
                                            <ul class="work_icon">
                                                <li><a href="assets/img/sarjan_pictures/TITALE_image/PRESSURE VESSEL 01.JPG" class="port-icon lightbox" data-gall="gall-work"><span class="ti-plus"></span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single_portfolio">
                                <div class="box">
                                    <img src="assets/img/sarjan_pictures/TITALE_image/STORAGE TANK 01.jpg" alt="">
                                    <div class="box-content">
                                        <div class="content">
                                            <ul class="work_icon">
                                                <li><a href="assets/img/sarjan_pictures/TITALE_image/STORAGE TANK 01.jpg" class="port-icon lightbox" data-gall="gall-work"><span class="ti-plus"></span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single_portfolio">
                                <div class="box">
                                    <img src="assets/img/sarjan_pictures/TITALE_image/PIPING SKID 01.jpg" alt="">
                                    <div class="box-content">
                                        <div class="content">
                                            <ul class="work_icon">
                                                <li><a href="assets/img/sarjan_pictures/TITALE_image/PIPING SKID 01.jpg" class="port-icon lightbox" data-gall="gall-work"><span class="ti-plus"></span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single_portfolio">
                                <div class="box">
                                    <img src="assets/img/sarjan_pictures/TITALE_image/PIPING HEADER 01.jpg" alt="">
                                    <div class="box-content">
                                        <div class="content">
                                            <ul class="work_icon">
                                                <li><a href="assets/img/sarjan_pictures/TITALE_image/PIPING HEADER 01.jpg" class="port-icon lightbox" data-gall="gall-work"><span class="ti-plus"></span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="single_portfolio">
                                <div class="box">
                                    <img src="assets/img/sarjan_pictures/TITALE_image/REACTOR VESSEL 01.jpg" alt="">
                                    <div class="box-content">
                                        <div class="content">
                                            <ul class="work_icon">
                                                <li><a href="assets/img/sarjan_pictures/TITALE_image/REACTOR VESSEL 01.jpg" class="port-icon lightbox" data-gall="gall-work"><span class="ti-plus"></span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single_portfolio">
                                <div class="box">
                                    <img src="assets/img/sarjan_pictures/TITALE_image/FILTER 01.jpg" alt="">
                                    <div class="box-content">
                                        <div class="content">
                                            <ul class="work_icon">
                                                <li><a href="assets/img/sarjan_pictures/TITALE_image/FILTER 01.jpg" class="port-icon lightbox" data-gall="gall-work"><span class="ti-plus"></span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single_portfolio">
                                <div class="box">
                                    <img src="assets/img/sarjan_pictures/TITALE_image/HEAT EXCHANGER 1.jpg" alt="">
                                    <div class="box-content">
                                        <div class="content">
                                            <ul class="work_icon">
                                                <li><a href="assets/img/sarjan_pictures/TITALE_image/HEAT EXCHANGER 1.jpg" class="port-icon lightbox" data-gall="gall-work"><span class="ti-plus"></span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single_portfolio">
                                <div class="box">
                                    <img src="assets/img/sarjan_pictures/TITALE_image/CONVEYOR BELT 01.jpg" alt="">
                                    <div class="box-content">
                                        <div class="content">
                                            <ul class="work_icon">
                                                <li><a href="assets/img/sarjan_pictures/TITALE_image/CONVEYOR BELT 01.jpg" class="port-icon lightbox" data-gall="gall-work"><span class="ti-plus"></span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>	
                            <div class="single_portfolio">
                                <div class="box">
                                    <img src="assets/img/sarjan_pictures/TITALE_image/STRUCTURE 1.JPG" alt="">
                                    <div class="box-content">
                                        <div class="content">
                                            <ul class="work_icon">
                                                <li><a href="assets/img/sarjan_pictures/TITALE_image/STRUCTURE 1.JPG" class="port-icon lightbox" data-gall="gall-work"><span class="ti-plus"></span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>			
                    </div>
                </div><!-- END ROW -->
            </div><!-- END CONTAINER -->
        </section>
        <!-- END PORTFOLIOS -->

 <div class="footer" style="display:none;">
    <div class="container">		
        <div class="row">
            <div class="col-lg-6 col-sm-6 col-xs-12">
                <div class="single_footer mt-4">
                    <h4>Links</h4>
                </div>
                <div class="social_profile">
                    <ul>
                        <li><a href="tel:+918128282200" title="Call us"><i class="fa fa-phone"></i></a></li>
                        <li><a href="sms:+918128282200" title="SMS us"><i class="fa fa-comment"></i></a></li>
                        <li><a href="https://wa.me/918128282200" target="_blank" title="Whatsapp us"><i class="fa fa-whatsapp"></i></a></li>
                        <li><a href="http://www.facebook.com/ShreeSarjanEngineering" target="_blank" title="Find us on Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="http://www.twitter.com/sarjanengg" target="_blank" title="Find us on Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://www.linkedin.com/company/shree-sarjan-engineering?trk=mini-profile" title="Find us on Linkedin" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="mailto:info@sarjan-india.com" target="_blank" title="Mail us"><i class="fa fa-envelope"></i></a></li>
                        <li><a target="_blank" href="https://goo.gl/maps/Em5QthJr7DP4NyL78" title="Check Our Location"><i class="fa fa-map-marker"></i></a></li>
                    </ul>
                </div>
            </div><!--- END COL -->
        </div><!--- END ROW -->
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <p class="copyright">© Copyright 2020 – Shree Sarjan Engineering – Developed By <a>iTechNotion</a></p>
            </div><!--- END COL -->					
        </div><!--- END ROW -->					
    </div><!--- END CONTAINER -->
</div>
<!-- END FOOTER -->	

<script>
    $(function(){
        $(".owl-item").css({"width":"200px !important"});
        $(".nav-item").removeClass("active");
        $(".nav-item").removeClass("active-footer");
        $(".nav-home").parent("li").addClass("active");
        $(".preloader").hide();
    });
    $(document).on("ready",function () {
        var owl = $(".owl-carousel");
        owl.css({"width":"600px","height":"240px"});
        $(".owl-item").attr("style","width: 200px !important");
        $(".owl-item").find("img").attr("style","height:170px !important;width:175px !important");
        $(".box").attr("style","width:180px !important");
        owl.owlCarousel({
            items:1,
            loop:true,
            margin:5,
            autoplay:true,
            autoplayTimeout:3000,
            autoplayHoverPause:true
            });
        owl.trigger('owl.play',3000);
        $(".lightbox").on("click",function(){
           $(".vbox-close").css({"margin-top":"80px"});
        });
    });
</script>