        <!-- Meta -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<!-- SITE TITLE -->
        <link rel="icon" type="image/icon" href="assets/img/sarjan_pictures/logo/logo.png" >
		<!-- Latest Bootstrap min CSS -->
		<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">				
		<!-- Google Font -->	
		<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800" rel="stylesheet">		
		<link href="https://fonts.googleapis.com/css?family=Noto+Serif:400,700" rel="stylesheet"> 
		<!-- fonts CSS -->
		<link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
		<link rel="stylesheet" href="assets/fonts/themify-icons.css">
		<!--- owl carousel Css-->
		<link rel="stylesheet" href="assets/owlcarousel/css/owl.carousel.css">
		<link rel="stylesheet" href="assets/owlcarousel/css/owl.theme.css">	
		<!-- animate CSS -->		
		<link rel="stylesheet" href="assets/css/animate.css">		
		<!-- MAGNIFIC CSS -->
		<link rel="stylesheet" href="assets/css/magnific-popup.css">
		<!-- Venobox CSS -->
		<link rel="stylesheet" href="assets/css/venobox.css">				
		<!-- Style CSS -->				
		<link rel="stylesheet" href="assets/css/style.css">					
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <link rel="stylesheet" href="assets/css/custom.css">
        <!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
		<style type="text/css">
		#work-slider{
			width: 100% !important;
			margin-top: 0px !important;
		}
		</style>
    </head>
    <body>
    <!-- START PRELOADER -->
		<div class="preloader">
			<div class="spinner">
				<div class="double-bounce1"></div>
				<div class="double-bounce2"></div>
			</div>
		</div>
		<!-- END PRELOADER -->		

		  <!-- START NAVBAR -->
		  <nav class="navbar navbar-toggleable-sm fixed-top navbar-light bg-faded site-navigation">
			<div class="container">
			   <a class="navbar-brand" href="/"><img src="assets/img/sarjan_pictures/logo/logo2.png" alt="" style="width: 200px;"></a>
			   <a class="navbar-brand" href="/"><img src="assets/img/sarjan_pictures/logo/logo2.png" alt="" height="50px" class="logo-hidden" style="width: 70px !important;"></a>   
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			  </button>
			  <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
				<ul class="navbar-nav">
				  <li class="nav-item"><a class="nav-link nav-home" href="">Home</a></li>
				  <li class="nav-item"><a class="nav-link nav-about" href="about/">About</a></li>
				  <li class="nav-item"><a class="nav-link nav-certification" href="certification/">Certification</a></li>
				  <li class="nav-item"><a class="nav-link nav-products" href="products/">Products</a></li>
				  <li class="nav-item"><a class="nav-link nav-contact" href="contact/">Contact</a></li>
				</ul>
			  </div>
			</div><!--- END CONTAINER -->	
		  </nav>      
		  <!-- END NAVBAR -->