
<div class="breadcrumbs mt-15">
    <div class="text-center">
        <h2 class="breadcrumbs-title">Piping Spool & Jacket Piping Spool</h2>
    </div>
</div>

<!-- START FEATURES -->
    <section class="feature_area section-padding">
        <div class="container">
            <div class="row">										
                <div class="col-lg-6 col-sm-12 col-xs-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.3s" data-wow-offset="0">
                    <div class="feature_img mt-5 text-center">
                        <img src="../assets/img/sarjan_pictures/TITALE_image/JACKET PIPING SPOOL 01.jpg"  class="img-fluid" height="80%" width="84%" />
                    </div>	
                </div><!-- END COL -->
                <div class="col-lg-6 col-sm-12 col-xs-12 wow fadeInLeft mt-3" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0">
                    <div class="single_feature">
                        <p>We are leading manufacturer of Project Piping Spools and Jacket Piping Spools which are used in Power plants, Refineries, Pharmaceutical Plants, Chemical Plants and other Process Plants.</p><br>
                        <p>It is used for transportation of liquids, Gases and vapour between varies equipments.</p><br>
                        <span><b>MATERIAL :</b> Carbon Steel, Stainless Steel & Alloy Steel etc. </span><br>
                        <span><b>SIZE :</b> Up to 52" Pipe Size</span><br>
                        <span><b>RATTING :</b> Up to 2500# </span><br>
                        <span><b>SERVICE OFFERED :</b> Engineering Solution, Design calculation, Detail Engineering, Raw material Procurement, Fabrication work, Testing Performed as per QAP, Documentation etc.</span>
                    </div>	
                </div><!-- END COL -->
            </div><!-- END ROW -->
        </div><!-- END CONTAINER -->
    </section>
    <!-- END FEATURES -->

    <!-- START PORTFOLIOS -->
        <section class="testimonial-area section-padding" style="background:transparent">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-sm-12 col-xs-12">
                        <div id="work-slider" class="owl-carousel">
                            <div class="single_portfolio">
                                <div class="box">
                                    <img src="../assets/img/sarjan_pictures/01_piping_spool/SSE PIPING SPOOL 01.jpg" alt="">
                                    <div class="box-content">
                                        <div class="content">
                                            <ul class="work_icon">
                                                <li><a href="../assets/img/sarjan_pictures/01_piping_spool/SSE PIPING SPOOL 01.jpg" class="port-icon lightbox" data-gall="gall-work"><span class="ti-plus"></span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single_portfolio">
                                <div class="box">
                                    <img src="../assets/img/sarjan_pictures/01_piping_spool/SSE PIPING SPOOL 02.jpg" alt="">
                                    <div class="box-content">
                                        <div class="content">
                                            <ul class="work_icon">
                                                <li><a href="../assets/img/sarjan_pictures/01_piping_spool/SSE PIPING SPOOL 02.jpg" class="port-icon lightbox" data-gall="gall-work"><span class="ti-plus"></span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single_portfolio">
                                <div class="box">
                                    <img src="../assets/img/sarjan_pictures/01_piping_spool/SSE PIPING SPOOL 03.jpg" alt="">
                                    <div class="box-content">
                                        <div class="content">
                                            <ul class="work_icon">
                                                <li><a href="../assets/img/sarjan_pictures/01_piping_spool/SSE PIPING SPOOL 03.jpg" class="port-icon lightbox" data-gall="gall-work"><span class="ti-plus"></span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single_portfolio">
                                <div class="box">
                                    <img src="../assets/img/sarjan_pictures/01_piping_spool/SSE PIPING SPOOL 04.jpg" alt="">
                                    <div class="box-content">
                                        <div class="content">
                                            <ul class="work_icon">
                                                <li><a href="../assets/img/sarjan_pictures/01_piping_spool/SSE PIPING SPOOL 04.jpg" class="port-icon lightbox" data-gall="gall-work"><span class="ti-plus"></span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single_portfolio">
                                <div class="box">
                                    <img src="../assets/img/sarjan_pictures/01_piping_spool/SSE PIPING SPOOL 05.jpg" alt="">
                                    <div class="box-content">
                                        <div class="content">
                                            <ul class="work_icon">
                                                <li><a href="../assets/img/sarjan_pictures/01_piping_spool/SSE PIPING SPOOL 05.jpg" class="port-icon lightbox" data-gall="gall-work"><span class="ti-plus"></span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single_portfolio">
                                <div class="box">
                                    <img src="../assets/img/sarjan_pictures/01_piping_spool/SSE PIPING SPOOL 06.jpg" alt="">
                                    <div class="box-content">
                                        <div class="content">
                                            <ul class="work_icon">
                                                <li><a href="../assets/img/sarjan_pictures/01_piping_spool/SSE PIPING SPOOL 06.jpg" class="port-icon lightbox" data-gall="gall-work"><span class="ti-plus"></span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single_portfolio">
                                <div class="box">
                                    <img src="../assets/img/sarjan_pictures/01_piping_spool/SSE PIPING SPOOL 07.jpg" alt="">
                                    <div class="box-content">
                                        <div class="content">
                                            <ul class="work_icon">
                                                <li><a href="../assets/img/sarjan_pictures/01_piping_spool/SSE PIPING SPOOL 07.jpg" class="port-icon lightbox" data-gall="gall-work"><span class="ti-plus"></span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single_portfolio">
                                <div class="box">
                                    <img src="../assets/img/sarjan_pictures/01_piping_spool/SSE PIPING SPOOL 08.jpg" alt="">
                                    <div class="box-content">
                                        <div class="content">
                                            <ul class="work_icon">
                                                <li><a href="../assets/img/sarjan_pictures/01_piping_spool/SSE PIPING SPOOL 08.jpg" class="port-icon lightbox" data-gall="gall-work"><span class="ti-plus"></span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single_portfolio">
                                <div class="box">
                                    <img src="../assets/img/sarjan_pictures/01_piping_spool/SSE PIPING SPOOL 11.jpg" alt="">
                                    <div class="box-content">
                                        <div class="content">
                                            <ul class="work_icon">
                                                <li><a href="../assets/img/sarjan_pictures/01_piping_spool/SSE PIPING SPOOL 11.jpg" class="port-icon lightbox" data-gall="gall-work"><span class="ti-plus"></span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single_portfolio">
                                <div class="box">
                                    <img src="../assets/img/sarjan_pictures/01_piping_spool/SSE PIPING SPOOL 12.jpg" alt="">
                                    <div class="box-content">
                                        <div class="content">
                                            <ul class="work_icon">
                                                <li><a href="../assets/img/sarjan_pictures/01_piping_spool/SSE PIPING SPOOL 12.jpg" class="port-icon lightbox" data-gall="gall-work"><span class="ti-plus"></span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single_portfolio">
                                <div class="box">
                                    <img src="../assets/img/sarjan_pictures/01_piping_spool/SSE PIPING SPOOL 13.jpg" alt="">
                                    <div class="box-content">
                                        <div class="content">
                                            <ul class="work_icon">
                                                <li><a href="../assets/img/sarjan_pictures/01_piping_spool/SSE PIPING SPOOL 13.jpg" class="port-icon lightbox" data-gall="gall-work"><span class="ti-plus"></span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single_portfolio">
                                <div class="box">
                                    <img src="../assets/img/sarjan_pictures/01_piping_spool/SSE PIPING SPOOL 14.jpg" alt="">
                                    <div class="box-content">
                                        <div class="content">
                                            <ul class="work_icon">
                                                <li><a href="../assets/img/sarjan_pictures/01_piping_spool/SSE PIPING SPOOL 14.jpg" class="port-icon lightbox" data-gall="gall-work"><span class="ti-plus"></span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single_portfolio">
                                <div class="box">
                                    <img src="../assets/img/sarjan_pictures/01_piping_spool/SSE PIPING SPOOL 15.jpg" alt="">
                                    <div class="box-content">
                                        <div class="content">
                                            <ul class="work_icon">
                                                <li><a href="../assets/img/sarjan_pictures/01_piping_spool/SSE PIPING SPOOL 15.jpg" class="port-icon lightbox" data-gall="gall-work"><span class="ti-plus"></span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single_portfolio">
                                <div class="box">
                                    <img src="../assets/img/sarjan_pictures/01_piping_spool/SSE PIPING SPOOL 16.jpg" alt="">
                                    <div class="box-content">
                                        <div class="content">
                                            <ul class="work_icon">
                                                <li><a href="../assets/img/sarjan_pictures/01_piping_spool/SSE PIPING SPOOL 16.jpg" class="port-icon lightbox" data-gall="gall-work"><span class="ti-plus"></span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single_portfolio">
                                <div class="box">
                                    <img src="../assets/img/sarjan_pictures/01_piping_spool/SSE PIPING SPOOL 17.jpg" alt="">
                                    <div class="box-content">
                                        <div class="content">
                                            <ul class="work_icon">
                                                <li><a href="../assets/img/sarjan_pictures/01_piping_spool/SSE PIPING SPOOL 17.jpg" class="port-icon lightbox" data-gall="gall-work"><span class="ti-plus"></span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- END ROW -->
            </div><!-- END CONTAINER -->
        </section>
        <!-- END PORTFOLIOS -->

<script>
    $(function(){
        $(".nav-item").removeClass("active");
        $(".nav-item").removeClass("active-footer");
        $("a.nav-link").css({'color':'#666 !important'});
        $("a.nav-link").addClass('nav2');
        $(".preloader").hide();
    });

    $(document).on("ready",function(){
        $(".nav-piping_spool").addClass('active');
        var owl = $(".owl-carousel");
        $(".owl-item").attr("style","width: 165px !important");
        owl.trigger('owl.play',3000); 
        $(".lightbox").on("click",function(){
           $(".vbox-close").css({"margin-top":"80px"});
        });
    });
</script>