    <!-- START HOME -->
    <section class="home_bg" style="background-image: url(../assets/img/slider/certificate.PNG);  background-size:cover; background-position: center center;">		
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-sm-12 col-xs-12">
                    <div class="hero-text">
                        
                    </div> 
                </div><!-- END COL-->
                <div class="col-lg-5 col-sm-12 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="0">
                    
                </div><!-- END COL-->
            </div><!-- END ROW-->
        </div><!--- END CONTAINER -->			
    </section>
    <!-- END  HOME -->

    <div class="breadcrumbs">
        <div class="text-center">
            <h2 class="breadcrumbs-title">Certificates</h2>
        </div>
    </div>

    <!-- START BLOG -->	
		<section class="blog-content section-padding">
			<div class="container">
				<div class="row">	
					<div class="col-lg-4 col-sm-4 col-xs-12 wow fadeInUp mt-5" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0">
						<a target="_post" href="../assets/img/sarjan_pictures/all_certificate/1. ISO 9001 2015.jpg">
							<div class="single_blog">
								<img src="../assets/img/sarjan_pictures/all_certificate/1. ISO 9001 2015.jpg" class="img-fluid" alt="blog image" style="max-height: 400px;width: fit-content;" />
								<div class="single_blog_pd">
									<div class="blog-span text-center">
										<span class="cat-name"> ISO 9001 2015</span>
									</div>
								</div>						
							</div>	
						</a>
                    </div><!--- END COL -->	
                    <div class="col-lg-4 col-sm-4 col-xs-12 wow fadeInUp mt-5" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0">
						<a target="_post" href="../assets/img/sarjan_pictures/all_certificate/2. Factory Liecence.jpg">
							<div class="single_blog">
								<img src="../assets/img/sarjan_pictures/all_certificate/2. Factory Liecence.jpg" class="img-fluid" alt="blog image" style="max-height: 400px;width: fit-content;" />
								<div class="single_blog_pd">
									<div class="blog-span text-center">
										<span class="cat-name"> Factory Licence</span>
									</div>
								</div>						
							</div>
						</a>
                    </div><!--- END COL -->	
                    <div class="col-lg-4 col-sm-4 col-xs-12 wow fadeInUp mt-5" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0">
						<a target="_post" href="../assets/img/sarjan_pictures/all_certificate/3. sse Company policy.jpg"> 
							<div class="single_blog">
								<img src="../assets/img/sarjan_pictures/all_certificate/3. sse Company policy.jpg" class="img-fluid" alt="blog image" style="max-height: 400px;width: fit-content;" />
								<div class="single_blog_pd">
									<div class="blog-span text-center">
										<span class="cat-name">SSE Company policy</span>
									</div>
								</div>						
							</div>	
						</a> 
                    </div><!--- END COL -->
                    <div class="col-lg-4 col-sm-4 col-xs-12 wow fadeInUp mt-5" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0">
						<a target="_post" href="../assets/img/sarjan_pictures/all_certificate/4. NTPC APPROVAL for OIL STORAGE TANK.jpg">
							<div class="single_blog">
								<img src="../assets/img/sarjan_pictures/all_certificate/4. NTPC APPROVAL for OIL STORAGE TANK.jpg" class="img-fluid" alt="blog image" style="max-height: 400px;width: fit-content;" />
								<div class="single_blog_pd">
									<div class="blog-span text-center">
										<span class="cat-name"> NTPC APPROVAL for OIL STORAGE TANK</span>
									</div>
								</div>						
							</div>	
						</a>
                    </div><!--- END COL -->
                    <div class="col-lg-4 col-sm-4 col-xs-12 wow fadeInUp mt-5" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0">
						<a target="_post" href="../assets/img/sarjan_pictures/all_certificate/5. NTPC APPROVAL for PIPING SPOOL.jpg">
							<div class="single_blog">
								<img src="../assets/img/sarjan_pictures/all_certificate/5. NTPC APPROVAL for PIPING SPOOL.jpg" class="img-fluid" alt="blog image" style="max-height: 400px;width: fit-content;" />
								<div class="single_blog_pd">
									<div class="blog-span text-center">
										<span class="cat-name"> NTPC APPROVAL for PIPING SPOOL</span>
									</div>
								</div>						
							</div>	
						</a>
					</div><!--- END COL -->
					<div class="col-lg-4 col-sm-4 col-xs-12 wow fadeInUp mt-5" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0">
						<a target="_post" href="../assets/img/sarjan_pictures/all_certificate/6. vcci certificate.jpg">
							<div class="single_blog">
								<img src="../assets/img/sarjan_pictures/all_certificate/6. vcci certificate.jpg" class="img-fluid" alt="blog image" style="max-height: 400px;width: fit-content;" />
								<div class="single_blog_pd">
									<div class="blog-span text-center">
										<span class="cat-name">VCCI certificate</span>
									</div>
								</div>						
							</div>
						</a>	
                    </div><!--- END COL -->	
				</div><!--- END ROW -->
			</div><!--- END CONTAINER -->
		</section>
		<!-- END BLOG -->
    
    <script>
         $(function(){
            $(".nav-item").removeClass("active");
            $(".nav-certification").parent("li.nav-item").addClass("active");
            $(".preloader").hide();
        });
    </script>