            <!-- START HOME -->
            <section class="home_bg" style="background-image: url(../assets/img/slider/CONTACT_US.jpg);  background-size:cover; background-position: center center;">		
                <div class="container">
                    <div class="row">
                        <div class="col-lg-7 col-sm-12 col-xs-12">
                            <div class="hero-text">
                                
                            </div> 
                        </div><!-- END COL-->
                        <div class="col-lg-5 col-sm-12 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="0">
                            
                        </div><!-- END COL-->
                    </div><!-- END ROW-->
                </div><!--- END CONTAINER -->			
            </section>
            <!-- END  HOME -->

            <div class="breadcrumbs">
                <div class="text-center">
                    <h2 class="breadcrumbs-title">Contact</h2>
                </div>
            </div>

            <div class="map-section">
                <iframe style="border:0; width: 100%; height: 350px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3687.2559662986946!2d73.19278475016785!3d22.457013485170027!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395fc8acd8cf46b9%3A0x1eb7a5d061df46c5!2sShree+Sarjan+Engineering!5e0!3m2!1sen!2snl!4v1476964502573" frameborder="0" allowfullscreen></iframe>
            </div>

            <!-- START PRICING -->
        <section class="pricing-content mt-5">
            <div class="container">					
                <div class="row">
                    <div class="col-lg-6 col-xs-12 wow fadeInUp">
                        <div class="section-description mt-4 pl-5 ml-5 pt-3">
                            <h4>Mr. Alpesh Kalathiya</h4><br>
                            <p>[ Block No.723/4 , B/h Guru Krupa Farm, Savli-Manjusar road, Manjusar Vadodara-391775 (Gujarat – India) ]</p>
                            <p class="some_link mt-3">
                                <b>Email </b>:
                                <a class="ml-3" href="mailto:info@sarjan-india.com">info@sarjan-india.com</a>
                            </p>
                            <p class="some_link">
                                <b>Mobile No. :</b><a class="ml-3">+91-8128282200</a>
                            </p>
                            <p class="some_link">
                                <b>Phone/Fax  No. : </b><a class="ml-3">02667 – 264222</a>
                            </p>
                            <p class="some_link">
                                <b>Visit on : </b> <a class="ml-3" target="_blank" href="http://www.sarjanpiping.com/">www.sarjanpiping.com</a>
                            </p>
                            <p class="some_link">
                                <b>MSME Global Mart : </b> <a class="ml-3" target="_blank" href="http://www.msmemart.com/member/204391/shree-sarjan-engineering">www.msmemart.com</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xs-12 text-center wow fadeInUp">
                        <img src="../assets/img/testimonial/contact_us.png" height="" class="img-fluid">
                    </div>
                    <div class="col-lg-12 text-center mt-4">
                        <h3>Click To Connect</h3>
                        <div class="social_profile text-center">
                            <ul class="wow fadeInUp ml-5">
                                <li class="mt-2 ml-4"><a href="tel:+918128282200" title="Call us"><i class="fa fa-phone"></i></a></li>
                                <li class="mt-2 ml-4"><a href="sms:+918128282200" title="SMS us"><i class="fa fa-comment"></i></a></li>
                                <li class="mt-2 ml-4"><a href="https://wa.me/918128282200" target="_blank" title="Whatsapp us"><i class="fa fa-whatsapp"></i></a></li>
                                <li class="mt-2 ml-4"><a href="mailto:info@sarjan-india.com" title="Mail us"><i class="fa fa-envelope"></i></a></li>
                                <li class="mt-2 ml-4"><a target="_blank" href="https://sites.google.com/sarjan-india.com/vcard-alpesh/v-card-alpesh" title="V-Card" class="fa fa-address-card"></i></a></li>
                                <li class="mt-2 ml-4"><a href="http://www.facebook.com/ShreeSarjanEngineering" target="_blank" title="Find us on Facebook"><i class="fa fa-facebook"></i></a></li>
                                <li class="mt-2 ml-4"><a target="_blank" href="http://www.twitter.com/sarjanengg" title="Find us on Twitter"><i class="fa fa-twitter"></i></a></li>
                                <li class="mt-2 ml-4"><a target="_blank" href="https://www.linkedin.com/company/shree-sarjan-engineering?trk=mini-profile" title="Find us on Linkedin" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                <li class="mt-2 ml-4"><a target="_blank" href="https://www.instagram.com/shree_sarjan_engineering/" title="Find us on Instagram" target="_blank"><i class="fa fa-instagram"></i></a></li>
                                <li class="mt-2 ml-4"><a target="_blank" href="https://goo.gl/maps/Em5QthJr7DP4NyL78" title="View Our Location"><i class="fa fa-map-marker"></i></a></li>
                                <li class="mt-2 ml-4"><a target="_blank" class="slide_show" title="View Slide Show" href="https://docs.google.com/presentation/d/e/2PACX-1vTKh0NqedrbPWQUH0R-ShjBAYPYTyfLppwWaOh6tx74s5jnTcIQ3Iqkg_80PZSCdR8aGQ776bZ3Ok_z/pub?start=false&loop=false&delayms=3000"><i class="fa fa-eye"></i></a>
                                </li>
                                <li class="mt-2 ml-4"><a target="_blank" href="https://www.youtube.com/watch?v=KCUE-iq_Bag" title="Watch the video"><i class="fa fa-youtube"></i></a></li>
                                <li class="mt-2 ml-4"><a href="../assets/img/sarjan_pictures/us/catalog.pdf" class="slide_show" download title="Download Catalog"><i class="fa fa-arrow-circle-down"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--  START FEATURES -->
		<section class="our_feature mt-4">
			<div class="container">
				<div class="row">
					<div class="section-title text-center wow fadeInUp">
						<h3>Send Enquiry</h3>
						<p class="mt-3">To place an order or to avail more information regarding our products or company, you can e-mail us and we would get back to you as soon as possible.</p>
					</div>	
                </div>
            </div>
		</section>

        <!-- START CONTACT -->
		<section class="contact_us section-padding mt-2" style="background-image: url(../assets/img/sarjan_pictures/SLIDE_IMAGGE/contact_us.jpg);  background-size:cover; background-position: center center;">
			<div class="container">
                <div class="section-title text-center">
                    <h1 class="section-title-white">Get in touch</h1>
                </div>
				<div class="row">
					<div class="text-center col-xs-12 col-lg-8 offset-lg-2 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="0">
						<script charset="utf-8" type="text/javascript" src="https://js.hsforms.net/forms/shell.js"></script>
                        <script>
                        hbspt.forms.create({
                            portalId: "7753632",
                            formId: "489f6c2a-315b-496b-88af-48756e9d2bae"
                        });
                        </script>
					</div><!-- END COL  -->
				</div><!-- END ROW -->
			</div><!-- END CONTAINER -->
		</section>
		<!-- END CONTACT -->
    
    <script>
        $(function(){
            $(".nav-item").removeClass("active");
            $(".nav-contact").parent("li.nav-item").addClass("active");
            $(".preloader").hide();
        });
        $(document).on("ready",function () {
            var owl = $(".owl-carousel");
            owl.trigger('owl.play',3000); 
            $(".lightbox").on("click",function(){
                $(".vbox-close").css({"margin-top":"80px"});
            });
        });
		$("#contact-form").submit(function(){
            $(".sent-message").show();
            $("#contact-form")[0].reset();
        });
    </script>