            <!-- START HOME -->
            <section class="home_bg" style="background-image: url(../assets/img/slider/ABOUT_US_REV.jpg);  background-size:cover; background-position:top center;">		
                <div class="container">
                    <div class="row">
                        <div class="col-lg-7 col-sm-12 col-xs-12">
                            <div class="hero-text">
                                
                            </div> 
                        </div><!-- END COL-->
                        <div class="col-lg-5 col-sm-12 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="0">
                            
                        </div><!-- END COL-->
                    </div><!-- END ROW-->
                </div><!--- END CONTAINER -->			
            </section>
            <!-- END  HOME -->

            <div class="breadcrumbs">
                <div class="text-center">
                    <h2 class="breadcrumbs-title">About Us</h2>
                </div>
            </div>
            
        <!-- START HOW WE WORK -->
        <section class="how_we_work_area section-padding">
            <div class="container">
                <div class="row mb-4">						
                    <div class="col-lg-6 col-sm-12 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="0">
                        <div class="single_how_we_work">
                            <span class="mt-5">We Feel Pleasure to introduce ourselves in the world of Engineering in the firm of <b>‘Shree Sarjan Engineering (SSE)’.</b>
                            </span><br><br>
                            <span>SSE, a green field venture start in the year 2011 in the state of Gujarat, India is a Partnership base company. An ISO 9001:2015 and NTPC Certified Company.</span><br><br>
                            <span>Our vision is to create world class heavy engineering equipment that would cater to the domestic as well as global market, utilizing its expertise in design, procurement, manufacturing, testing and project management solutions.</span>
                        </div>	
                    </div><!-- END COL -->	
                    <div class="col-lg-6 col-sm-12 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s" data-wow-offset="0">
						<div class="how_we_work_video">
                            <div class="mt-4 pt-5">
                                <iframe title="PIPING SPOOL, PIPING SKID Manufacturer, Supplier in Vadodara,Gujarat |Shree Sarjan Engineering" width="100%" height="290px" src="https://www.youtube.com/embed/KCUE-iq_Bag" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
                            </div>
                        </div>
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <div class="col-lg-6 col-sm-12 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s" data-wow-offset="0">
                        <div class="single_how_we_work mt-4">
                            <h3 class="">Our Task</h3>
                            <p class='mt-3'>To manufacture world class products that meet and exceed customer requirements and expectations at the most competitive price using efficient business processes.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-12 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s" data-wow-offset="0">
                        <div class="single_how_we_work mt-4">
                            <div class="row">
                                <div class="col-lg-6 col-sm-6 col-xs-12 text-center">
                                    <a target="_blank" class="slide_show" href="https://docs.google.com/presentation/d/e/2PACX-1vTKh0NqedrbPWQUH0R-ShjBAYPYTyfLppwWaOh6tx74s5jnTcIQ3Iqkg_80PZSCdR8aGQ776bZ3Ok_z/pub?start=false&loop=false&delayms=3000"> View Slide Show</a>
                                </div>
                                <div class="col-lg-6 col-sm-6 col-xs-12 text-center">
                                    <a href="../assets/img/sarjan_pictures/us/catalog.pdf" class="slide_show" download> Download Catalog</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-12 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s" data-wow-offset="0">
                        <div class="single_how_we_work mt-4">
                            <h3 class="">Our Visualization</h3>
                            <p class='mt-3'>To become the manufacturer of choice in the global market.</p>
                        </div>
                    </div>
                </div><!-- END ROW -->
            </div><!-- END CONTAINER -->
        </section>
        <!-- END PORTFOLIOS -->

        <!-- START TESTIMOIALS -->	
		<section class="testimonial-area mt-3 mb-3">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-sm-12 col-xs-12">
                        <div class="testimonial">
                            <div class="testimonial-content">
                                <div class="pic">
                                    <img src="../assets/img/sarjan_pictures/us/1.png" alt="">
                                </div>
                                <h3 class="title">Er. Alpesh Kalathiya</h3>
                                <span class="post">Owner</span>
                            </div>
                            <p class="description">
                                Er. Alpesh Kalathiya, Owner is 34 years old. He is a 2008 graduate Mechanical Engineer from Government Engineering College of Surat, Gujarat. and PGD in Plant Design Engineering from Trinity Academy of Engineering, Pune. with 10+ years of industry experience in various areas such as Sales & marketing, Project Management, Project Design, Production area, Quality Control area etc.
                            </p>
                        </div>	
                    </div>
                    <div class="col-lg-6 col-sm-12 col-xs-12">	 
                        <div class="testimonial">
                            <div class="testimonial-content">
                                <div class="pic">
                                    <img src="../assets/img/sarjan_pictures/us/2.png" alt="">
                                </div>
                                <h3 class="title">Er. Suresh Kalathiya</h3>
                                <span class="post">Mechanical Engineer</span>
                            </div>
                            <p class="description">
                                Er. Suresh Kalathiya, Engineer is 30 years old. He is a 2012 graduate Mechanical Engineer from SVMIT, Bharuch, Gujarat. and PGD in Mech.Engg. Design from Sheriden College Institute of Tech. and Advance learning, Ontario, Canada. with 6+ years of industry experience in various areas such as Project Management, Project Design, Quality Control area etc.
                            </p>
                        </div>
					</div><!--- END COL -->		  
				</div><!--- END ROW -->
			</div><!--- END CONTAINER -->
		</section>
        <!-- END TESTIMOIALS -->	

        <section class="feature_area section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-sm-12 col-xs-12 mt-3 pt-3 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0">
                        <div class="single_feature">
                            <h3>Our Philosophy</h3>
                            <ul class="mt-4">
                                <li><span class="ti-check"></span> We look after individuals of highest integrity, professionalism and self esteem and provide an ambiance where they are able to realize their fullest potential.</li>
                                <li><span class="ti-check"></span> The touchstones of all our transactions with our employees, suppliers and service providers shall be fairness, equitability, transparency and consistency.</li>
                                <li><span class="ti-check"></span> We take care of our commitments to customers as sacred covenants and shall leave no stone unturned to fulfill them.</li>
                                <li><span class="ti-check"></span> We are committed to the health and safety of our employees.</li>
                                <li><span class="ti-check"></span> We shall not categorize any employee or person working under our supervision on the basis of his / her gender, class, caste, religion, ethnicity, domicile etc.</li>
                                <li><span class="ti-check"></span> We remain steadfast in our commitment to protect the environment and shall leave a bigger foot print than what is absolutely essential in sustaining our business.</li>
                            </ul>
                        </div>
                    </div><!-- END COL -->			
                    <div class="col-lg-6 col-sm-12 col-xs-12 mt-3 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s" data-wow-offset="0">
                        <div class="how_we_work_video">
                            <img src="../assets/img/portfolio/philosophy.png"  class="img-fluid" alt=""/>
                        </div>	
                    </div><!-- END COL -->	
                    <div class="col-lg-6 col-sm-12 col-xs-12 mt-3 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s" data-wow-offset="0">
                        <div class="how_we_work_video">
                            <img src="../assets/img/portfolio/company_policy.png" width="90%" class="img-fluid" alt=""/>
                        </div>	
                    </div><!-- END COL -->	
                    <div class="col-lg-6 col-sm-12 col-xs-12 pt-3 mt-4 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0">
                        <div class="single_feature">
                            <h3>SSE Company policy</h3>
                            <ul class="mt-4">
                                <li><span class="ti-check"></span> We at Shree Sarjan Engineering (SSE) are Committed,</li>
                                <li><span class="ti-check"></span> To meet Customer Requirements, Standards and Specifications to Achieve Maximum Customer Satisfaction with unerring regularity on lasting basis</li>
                                <li><span class="ti-check"></span> Our Aim is to make Continual Improvements by adopting Process Approach and Involvement of The Employees for Effectiveness of Quality Management.</li>
                                <li><span class="ti-check"></span> We Endeavor to Provide Efficient Leadership, Encourage Creativity and Impart Training to keep pace with Latest Advances for Growth of The Company and Its Employees.</li>
                                <li><span class="ti-check"></span> We Endeavor to Maintain Highest Standards of Safety, Health & Environment by Complying with all Legal and other Statutory Requirements.</li>
                            </ul>
                        </div>	
                    </div><!-- END COL -->			
                </div><!-- END ROW -->
            </div><!-- END CONTAINER -->
        </section>
        <!-- END HOW WE WORK -->
            
            <script>
                $(function(){
                    $(".nav-item").removeClass("active");
                    $(".nav-about").parent("li.nav-item").addClass("active");
                    $(".preloader").hide();
                });
                $(document).on("ready",function () {
                    var owl = $(".owl-carousel");
                    $(".lightbox").on("click",function(){
                        $(".vbox-close").css({"margin-top":"80px"});
                    });
                });
            </script>