.home_main_slider{
    height: 500px !important;
    width : 100% !important;
    margin-top: 100px;
}
.box{
    height: max-content;
    width: 140px;
}
.home_bg{
    height: max-content;
}
.single_portfolio{
    width: min-content;
}
.nav2{
    color:#666 !important
}
.active{
    color: #478bc8 !important;
}
div.owl-wrapper-outer>div.owl-wrapper>div.owl-item{
    width: 200px;
}
.breadcrumbs{
    min-height: 40px;
    background-color: #478bc8 !important;
    padding: 15px 0;
}
.breadcrumbs-title{
    font-size: 28px;
    color: white;
    font-weight: 300;
}
.owl-item{
    width: 300px!important;
}
.mt-15{
    margin-top: 150px !important;
}
.pa>a:hover{
    color:#6163f1 !important
}
.box>img{
    height: 126px;
}
.catalog_links>a:hover{
    color: #6163f1;
}
.text-left{
    text-align: left !important;
}
.some_link>a>i{
    color: black;
    font-size: 19px
}
.some_link>a:hover{
    color: #6163f1;
}
.some_link{
    font-size: 14px;
}
.padding-section{
    padding: 20px;
    background-color: rgba(153, 153, 153, 0.575);
}
.owl-carousel2>.owl-wrapper-outer>.owl-wrapper>.owl-item{
    
}
.owl-carousel2{
    width: 100% !important;
}
.cat-name{
    color: #478bc8 !important;
}
.transform_custom{
    width: 5332px;
    left: 0px; 
    display: block; 
    transition: all 800ms ease 0s; 
    transform: translate3d(-730px, 0px, 0px) !important;
}

.vbox-overlay{
    z-index: 111111 !important;
}
.vbox-close{
    margin-top: 0px !important;
}
.home_bg:before{
	background: rgba(224, 220, 220, 0.76) !important;
}
.navbar-light .navbar-nav .nav-link{
	color: black;
	font-weight: 600;
}
.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.open, .navbar-light .navbar-nav .open > .nav-link {
    color: #336998 !important;
	font-weight: 600;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #336998 !important;
	font-weight: 600;
}