

<!-- START HOME -->
    <section class="home_bg" style="background-image: url(../assets/img/slider/PRODUCT.jpg);  background-size:cover; background-position: center center;">		
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-sm-12 col-xs-12">
                    <div class="hero-text">
                        
                    </div> 
                </div><!-- END COL-->
                <div class="col-lg-5 col-sm-12 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="0">
                    
                </div><!-- END COL-->
            </div><!-- END ROW-->
        </div><!--- END CONTAINER -->			
    </section>
    <!-- END  HOME -->
    
    <div class="breadcrumbs">
        <div class="text-center">
            <h2 class="breadcrumbs-title">Products</h2>
        </div>
    </div>
    
    <section class="works_area pt-5 mt-5 ml-4 pl-4">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-12 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s" data-wow-offset="0">
                    <div class="how_we_work_video">
                        <img src="../assets/img/portfolio/manufacture.png" width="90%" class="img-fluid" alt=""/>
                    </div>	
                </div><!-- END COL -->	
                <div class="col-lg-6 col-sm-12 col-xs-12 pt-5 pl-5 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0">
                    <div class="single_feature">
                        <h3>Manufacturing of</h3>
                        <ul class="mt-3">
                            <li><span class="ti-check"></span>Piping Spools,</li>
                            <li><span class="ti-check"></span>Jacketed Piping Spools,</li>
                            <li><span class="ti-check"></span>Piping Skid,</li>
                            <li><span class="ti-check"></span>Piping Header,</li>
                            <li><span class="ti-check"></span>Pressure Vessels,</li>
                            <li><span class="ti-check"></span>Reaction Vessels,</li>
                            <li><span class="ti-check"></span>Storage Tanks,</li>
                            <li><span class="ti-check"></span>Pressure Filters,</li>
                            <li><span class="ti-check"></span>Heat Exchanger,</li>
                            <li><span class="ti-check"></span>Light & Heavy structure work,</li>
                            <li><span class="ti-check"></span>Base Frames for various Machinery, Piping Skid etc.,</li>
                            <li><span class="ti-check"></span>Conveyor Belt</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12 col-xs-12 pt-5 mt-3 pl-5 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0">
                    <div class="single_feature">
                        <h3>Services Offered by SSE</h3>
                        <ul class="mt-3">
                            <li><span class="ti-check"></span>Engineering Solutions, Design</li>
                            <li><span class="ti-check"></span>Detail Engineering</li>
                            <li><span class="ti-check"></span>Prepare Technical Specifications, Data Sheets Etc.</li>
                            <li><span class="ti-check"></span>Material Procurement as per standards</li>
                            <li><span class="ti-check"></span>Fabrication with Quality requirements</li>
                            <li><span class="ti-check"></span>Welding process by Approved Welder</li>
                            <li><span class="ti-check"></span>Stress relieving, Normalizing, PWHT</li>
                            <li><span class="ti-check"></span>Hydro-Static  & Pneumatic Testing</li>
                            <li><span class="ti-check"></span>Destructive & Non Destructive Testing</li>
                            <li><span class="ti-check"></span>Blasting, Painting</li>
                            <li><span class="ti-check"></span>Cleaning, Pickling, Preservation</li>
                            <li><span class="ti-check"></span>Documentation</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12 col-xs-12 mt-3 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s" data-wow-offset="0">
                    <div class="how_we_work_video">
                        <img src="../assets/img/portfolio/service.png" width="90%" class="img-fluid" alt="Services"/>
                    </div>	
                </div><!-- END COL -->	
            </div><!-- END ROW -->
        </div><!-- END CONTAINER -->
    </section>
    <!-- END PORTFOLIOS -->

    <!-- START BLOG -->	
		<section class="blog-content section-padding mt-5">
			<div class="container">
				<div class="row">
                    <div class="col-lg-4 col-sm-4 col-xs-12 wow fadeInUp mt-5" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0">
						<div class="single_blog">
							<img src="../assets/img/sarjan_pictures/TITALE_image/JACKET PIPING SPOOL 01.jpg" class="img-fluid" alt="blog image" />
							<div class="single_blog_pd">
                            <a href="../piping_spool/"><h5>Piping Spool & Jacket Piping Spool</h5></a>
								<p class="mt-3">We are leading manufacturer of Project Piping Spools and Jacket Piping Spools...</p>
                                <a href="../piping_spool/" class="single_blog_rm">View More</a>	
							</div>						
						</div>
					</div><!--- END COL -->
                    <div class="col-lg-4 col-sm-4 col-xs-12 wow fadeInUp mt-5" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0">
						<div class="single_blog">
							<img src="../assets/img/sarjan_pictures/TITALE_image/PRESSURE VESSEL 01.JPG" class="img-fluid" alt="blog image" />
							<div class="single_blog_pd">
								<a href="../pressure_vessel/"><h5>Pressure Vessel & Reaction Vessel</h5></a>
								<p class="mt-3">We involve in providing a qualitative range of Pressure Vessels and Reaction...</p>
                                <a href="../pressure_vessel/" class="single_blog_rm">View More</a>	
							</div>
						</div>
                    </div><!--- END COL -->
                    <div class="col-lg-4 col-sm-4 col-xs-12 wow fadeInUp mt-5" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0">
						<div class="single_blog">
							<img src="../assets/img/sarjan_pictures/TITALE_image/PIPING SKID 01.jpg" class="img-fluid" alt="blog image" />
							<div class="single_blog_pd">
								<a href="../piping_skid/"><h5>Piping Skid</h5></a>
								<p class="mt-3">We Supplying Piping Skids with Design & Manufacturing which is used for Natural Gas...</p>
                                <a href="../piping_skid/" class="single_blog_rm">View More</a>
							</div>
						</div>
                    </div><!--- END COL -->
                    <div class="col-lg-4 col-sm-4 col-xs-12 wow fadeInUp mt-5" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0">
						<div class="single_blog">
							<img src="../assets/img/sarjan_pictures/TITALE_image/PIPING HEADER 01.jpg" class="img-fluid" alt="blog image" />
							<div class="single_blog_pd">
								<a href="../piping_header/"><h5>Piping Header</h5></a>
								<p class="mt-3">We are hold expertise in manufacturing and supplying a wide range of Piping Headers.</p>
                                <a href="../piping_header/" class="single_blog_rm">View More</a>
							</div>						
						</div>	
                    </div><!--- END COL -->
                    <div class="col-lg-4 col-sm-4 col-xs-12 wow fadeInUp mt-5" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0">
						<div class="single_blog">
							<img src="../assets/img/sarjan_pictures/TITALE_image/STORAGE TANK 01.jpg" class="img-fluid" alt="blog image" />
							<div class="single_blog_pd">
								<a href="../storage_tank/"><h5>Storage Tank</h5></a>
								<p class="mt-3">We involve in providing a qualitative range of Storage Tank that is used in various industries.</p>
                                <a href="../storage_tank/" class="single_blog_rm">View More</a>
							</div>
						</div>
                    </div><!--- END COL -->
                    <div class="col-lg-4 col-sm-4 col-xs-12 wow fadeInUp mt-5" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0">
						<div class="single_blog">
							<img src="../assets/img/sarjan_pictures/TITALE_image/FILTER 01.jpg" class="img-fluid" alt="blog image" />
							<div class="single_blog_pd">
								<a href="../pressur_filter/"><h5>Pressure Filter</h5></a>
								<p class="mt-3">We involve in Designing, Manufacturing and Supplying a wide range of Pressure filters...</p>
                                <a href="../pressur_filter/" class="single_blog_rm">View More</a>
							</div>
						</div>
                    </div><!--- END COL -->
                    <div class="col-lg-4 col-sm-4 col-xs-12 wow fadeInUp mt-5" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0">
						<div class="single_blog">
							<img src="../assets/img/sarjan_pictures/TITALE_image/HEAT EXCHANGER 1.jpg" class="img-fluid" alt="blog image" />
							<div class="single_blog_pd">
								<a href="../heat_exchanger/"><h5>Heat Exchanger</h5></a>
								<p class="mt-3">We involve in providing a qualitative range of Heat Exchanger that is used in various Industries.</p>
                                <a href="../heat_exchanger/" class="single_blog_rm">View More</a>
							</div>
						</div>
                    </div><!--- END COL -->
                    <div class="col-lg-4 col-sm-4 col-xs-12 wow fadeInUp mt-5" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0">
						<div class="single_blog">
							<img src="../assets/img/sarjan_pictures/TITALE_image/CONVEYOR BELT 01.jpg" class="img-fluid" alt="blog image" />
							<div class="single_blog_pd">
								<a href="../conveyor_belt/"><h5>Conveyor Belt Assembly</h5></a>
								<p class="mt-3">We Designing, Manufacturing & Supplying of Conveyor Belt Assembly as per Client requirement.</p>
                                <a href="../conveyor_belt/" class="single_blog_rm">View More</a>	
							</div>						
						</div>	
                    </div><!--- END COL -->
                    <div class="col-lg-4 col-sm-4 col-xs-12 wow fadeInUp mt-5" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0">
						<div class="single_blog">
							<img src="../assets/img/sarjan_pictures/TITALE_image/STRUCTURE 1.JPG" class="img-fluid" alt="blog image" />
							<div class="single_blog_pd">
								<a href="../structure/"><h5>Light & Heavy Structure Works & Other</h5></a>
								<p class="mt-3">We Designing, Manufacturing & Supplying of Light and Heavy Structures as per Client..</p>
                                <a href="../structure/" class="single_blog_rm">View More</a>	
							</div>
						</div>
					</div><!--- END COL -->
				</div><!--- END ROW -->
			</div><!--- END CONTAINER -->
		</section>
		<!-- END BLOG -->

    <script>
        $(function(){
            $(".nav-item").removeClass("active");
            $(".nav-item").removeClass("active-footer");
            $(".nav-products").parent("li.nav-item").addClass("active");
            $(".preloader").hide();
        });
        $(document).on("ready",function () {
            var owl = $(".owl-carousel");
            $(".single_blog").children("img").css({"height":"280px"})
            owl.trigger('owl.play',3000);
            $(".lightbox").on("click",function(){
                $(".vbox-close").css({"margin-top":"80px"});
            }); 
        });
    </script>